doctype html
| PASTE YOUR HTML CODE HERE
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Bookshop
  // <link rel="stylesheet" type="text/css" href="/sass/style.css">
script(src='./dist/main.js' type='module')
// <script src="dist/main.js"></script>
